{
  "presets": [
    // [
    //   "@babel/preset-env",
    //   {
    //     "targets": {
    //       "firefox": "96"
    //     }
    //   }
    // ],
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ]
}