{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "rules": {
    "@typescript-eslint/no-namespace": 0,
    "@typescript-eslint/no-floating-promises": 0,

    // why it doesnt work correctly?
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["off"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "ignorePatterns": ["src/**/*.js", "dist"]
}
